* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(36, 150, 136) 15vh, rgb(255, 255, 255) 1vh);
}

.container {
    background-color: red;
    height: 90%;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.left-bar {
    background-color: rgb(230, 230, 230);
    width: 30%;
    height: 100%;
}

.my-profile {
    height: 70px;
    /* background-color: pink; */
    display: flex;
}

.profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 15px;
}

.name {
    margin-top: 25px;
}

.notifications {
    background-color: rgb(146, 255, 255);
    height: 80px;
    display: flex;
}

.bell-icon {
    background-color: white;
    padding: 15px 12px;
    color: rgb(146, 255, 255);
    border-radius: 100%;
    font-size: 25px;
    margin-top: 12px;
    margin-left: 15px;
    margin-bottom: 12px;
    margin-right: 15px;
}

.notifications-text {
    margin-top: 20px;
}

.search-bar {
    /* background-color: magenta; */
    height: 50px;
}

.search-bar-input {
    padding: 8px;
    /* background-color: red; */
    height: 100%;
    display: flex;
}

.search-container {
    border: 1px solid lightgray;
    width: 25%;
}

.search-icon {
    margin-left: 35px;
    margin-top: 8px;
}

.search-input {
    width: 70%;
}

.person {
    /* background-color: orange; */
    height: 90px;
}

.persons-container {
    overflow-y: scroll;
    height: 684px;
}

.user-container {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
}

.person-pic {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    margin-right: 15px;
}

.chat {
    background-color: lightblue;
    width: 70%;
    height: 100%;
}

.person-open-chat {
    height: 70px;
    background-color: sienna;
    display: flex;
    padding: 5px;
}

.chat-profile-pic {
    width: 60px;
    border-radius: 100%;
    margin-right: 15px;
}


.chat-container {
    height: calc(100% - 70px - 70px);
    background-color: deepskyblue;
}

.chat-text-input {
    background-color:crimson;
    height: 70px;
}
