* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(36, 150, 136) 15vh, rgb(255, 255, 255) 1vh);
}

.container {
    background-color: red;
    height: 90%;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
}

.left-bar {
    background-color: green;
    width: 30%;
    height: 100%;
}

.my-profile {
    height: 70px;
    background-color: pink;
}

.notifications {
    background-color: cyan;
    height: 80px;
}

.search-bar {
    background-color: magenta;
    height: 50px;
}

.person {
    background-color: orange;
    height: 90px;
}

.chat {
    background-color: lightblue;
    width: 70%;
    height: 100%;
}

.person-open-chat {
    height: 70px;
    background-color: sienna;
}

.chat-container {
    height: calc(100% - 70px - 70px);
    background-color: deepskyblue;
}

.chat-text-input {
    background-color:crimson;
    height: 70px;
}