<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.1.0/build/global/luxon.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js" defer></script>
    <link rel="stylesheet" href="css/style.css">
    <script src="js/script.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    

</head>
<body>
    <div class="container" id="app">
        <div class="left-bar">
            <div class="my-profile">
                <img class="profile-pic" src="img/New-Project-14.png" alt="">
                <div class="name"><strong>Abhay</strong></div>
            </div>
            <div class="notifications">
                <i class="fa-solid fa-bell-slash bell-icon"></i>
                <div class="notifications-text">
                    <p>
                        Ricevi notifiche di nuovi messaggi
                    </p>
                    <a href="">Attiva notifiche desktop</a>
                </div>
            </div>
            <div class="search-bar">
                <div class="search-bar-input">
                    <div class="search-container">
                            <i class="fas fa-search search-icon"></i>
                    </div>
                    <input type="text" class="search-input" placeholder="Cerca o inizia una nuova chat">
                    
                </div>
            </div>
            <div class="persons-container">
                <div class="person">
                    <div 
                    v-for="(contact, i) in contacts":key="contact.avatar"class="contact"@click="setActiveIndex(i)">
                            <div class="user-container">
                                <img class="person-pic" src="img/New-Project-14.png" alt="">
                                <div class="info-person">
                                    <strong>{{ contact.name }}</strong>
                                    <div class="last-message">
                                        {{contact.messages[contact.messages.length -1].message}}
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="chat">
            <div class="person-open-chat">
                <img class="chat-profile-pic" src="img/New-Project-14.png" alt="">
                <div class="info-person">
                    {{ contacts[activeIndex].name }}
                    <div class="last-login">
                        Last login: {{ currentTime}}
                    </div>
                </div>
                <div class="user-info">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="chat-container">
                <div class="messages" v-for = "msg in contacts[activeIndex].messages">
                    <div class="message message-sent" v-if = "msg.status === 'sent'">
                        {{ msg.message }} 
                        <div class="msg-date">
                            {{ msg.date }}
                        </div>
                    </div>
                    <div class="message message-received" v-else = "">
                        {{ msg.message }} 
                        <div class="msg-date">
                            {{ msg.date }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-text-input">
                <div class="emoji">
                    <i class="far fa-smile"></i>
                </div>
                <input type="text" class="send-msg"placeholder="Cerca o inizia una nuova chat" v-model="newMessage" @keyup.enter="sendMessage">
                <div class="audio">
                    <i class="fa fa-microphone"></i>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
